<article class="app-card">
  <header class="app-card__header">
    <span class="app-card__title">
      {{title}}
    </span>
  </header>

  <section class="app-card__body">
    <ng-content></ng-content>
  </section>

  <footer class="app-card__footer">
    <ng-content select="app-card-footer"></ng-content>
  </footer>
</article>
