:host {
  width: 350px;
  min-height: 100px;
  padding-bottom: 1em;
}

.app-card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border: 1px solid gray;
  border-radius: 10px;

  &__header {
    margin-bottom: 0.5em;
  }

  &__title {
    font-weight: bold;
  }

  &__body {
    margin-bottom: 0.5em;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}

