<article class="app-card-list">
  <ng-container *ngFor="let card of cards; let i = index">
    <app-card [title]="card.title">
      <img [src]="card.image" width="100%">

      {{card.message}}
      <app-card-footer>
        {{card.footer}}
      </app-card-footer>
    </app-card>
  </ng-container>
</article>
